@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
*{
    margin : 0;
    padding : 0;
    font-family : 'Poppins', sans-serif;
}
body{
    display : flex;
    align-items: center;
    height: 100vh;
    flex-direction : column;
    justify-content : center;
    /* background-image: url(./img/bg-2.jpg); */
    background-image: url('./img/bg-3.jpg');
    background-position: center;
    background-repeat : no-repeat;
    background-size: cover;
    text-align: center;
    overflow : hidden;
}
html{
    font-size : 62.5%;
}
h1{
    font-size : 4.5rem;
    letter-spacing: 3px;
    font-family: 'Hubballi', cursive;
    color: #F1D3B3;
}
.content{
    display : flex;
    flex-direction : row;
    font-size : 3rem;
    gap : 20px;
    align-items: center;
    margin : 40px 0px;
    letter-spacing: 1px;
}
.content span{
    display : flex;
    color : #F1D3B3;
    width : 90px;
    height : 50px;
    padding : 10px 10px;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
.content div{
    opacity : .8;
    background-color: #8B7E74;
    position : relative;
}
.text{
    background-color: #65647C;
    font-size : 1.4rem;
}
#ampm{
    width : 60px !important;
    height : 20px !important;
    position : absolute;
    top : 30px;
    background-color: #8B7E74;
}

@media (max-width : 768px){
    html{
        font-size : 44.65%;
    }
    .content span{
        width : 60px;
        height : 40px;
    }
    #ampm{
        width : 40px;
        height : 20px;
        top : 20px;
    }
}