*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'MouseMemoirs';
    src: url(./assets/fonts/MouseMemoirs-Regular.ttf);
}

body {
    font-family: 'MouseMemoirs' !important;
    background-image: url('./assets/images/background-desktop.svg');
    background-repeat: no-repeat;
    animation: slowMoment 10s linear infinite;
}

@keyframes slowMoment{
    0%,100%{
        background-size: 100%;
    }
    25%{
        background-size: 101%;
        background-position: -10px -7px;
    }
    50%{
        background-size: 102%;
        background-position: -5px -2px;
    }
    75%{
        background-size: 101%;
        background-position: -4px -4px;
    }
}

.play-menu{
    position: absolute;
    transition: all .5s ease-in-out;
    z-index: 10;
}

.play-menu h1{
    letter-spacing: 1px;
    font-size: 60px;
}
.play-menu .btn-play{
    outline: none;
    border: none;
}


.game{
    opacity: 0;
    transition: all .5s ease-in-out;
}
.game-input button{
    color: #fff;
    font-size: 1.7rem;
    padding: 0 20px;
}

.game-display{
    height: 400px;
}

.game-type.game-categories{
    opacity: 1;
    z-index: 11;
}
.play-menu.game-started{
    transform: scale(1.4);
    opacity: 0;
    z-index: -1;
}

.game-categories button{
    font-size: 30px;
    text-transform: uppercase;
    margin: 25px;
    width: 150px;
    background-color: #fff;
}